{{ define "main" }}
  <div class="page-title">
    {{ .Title }}
  </div>
  <div>
    {{ if ne .Title "About" }}
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    {{ end }}
  </div>
  <div class="{{ if eq .Title "About" }}about-content{{ else }}main-content{{ end }}">
    {{ .Content }}
  </div>
  <div>{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}</div>
{{ end }}
