<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>
    {{ if .IsHome }}
        {{ site.Title }}
    {{ else }}
        {{ printf "%s %s" site.Title .Title }}
    {{ end }}
</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

<script src="/js/search.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=IBM+Plex+Mono&display=swap" rel="stylesheet">