<div class="search-wrapper">
    <form action='{{ with .GetPage "/search" }}{{.Permalink}}{{end}}' method="get" id="search-form" role="search" aria-label="Site Search">
        <div class="search-input-wrapper">
            <input 
                type="text" 
                id="search" 
                placeholder="search..." 
                autocomplete="off" 
                aria-label="Search input" 
            />
            <button type="button" id="clear-search" aria-label="Clear search">
                &times;
            </button>
        </div>
    </form>
    <div id="search-results" class="search-results"></div>
</div>